@import "./colors.scss";

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: $brand-text-inverted;

  li:hover a,
  li:hover button {
    color: $brand-background;
  }

  button:hover {
    color: inherit;
  }
}

.actions {
  display: flex;
  justify-content: space-between;

  a,
  button {
    margin: 5px;
    padding: 0px;
  }
}
