@import "../../assets/scss/colors.scss";

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  margin: 5px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &:hover {
    $border-color: darken($brand-background, 12%);

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background: darken($brand-background, 7%);
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
